<!DOCTYPE html>
<html>
  <head>
    <title><%= @name %></title>
  </head>
  <body>
  	<h1>Welcome to Sinatra</h1>
  	<h2>Powered by SinatraBand</h2>

  	<p>
  		You created the app called <%= @name %>.<br />
  		Keep developing!
  	</p>
  </body>
</html>